
.card{
    width: 300px;
    height: 400px;
    background-color: #f0f0f0;
        font-size: 1rem; 
        color: blue
        border-radius=10px;
       margin-top: 10px;
        overflow: scroll;
        padding: 15px;
       
 }
  .image{
       padding-top: 0%;
       height: fit-content;
       }
       .image img{
        border-radius: 30px;
        padding: 15px;
        margin-left: 20px;
       }
       .capsule{
        padding:5px;
       }
       .capsule span{
        border: 1px solid #0b0909;
        border-radius: 10px;
        padding: 3px 5px

       }
       .button{
        text-align: center;
       }
       .button button{
        background-color:rgb(45, 125, 186);
        padding:10px 15px;
        border-radius: 17px;
        font-size: 15px;
        margin: 10px;        
       }
   
